<style>
    .borderless{
        border: none;
        background: none;
    }
    .icon-color{
        color: #4f84b8
    }
    textarea {
        resize:none;
    }
    h6{
        color: #395f85;
    }
    hr {
        color: #1677d8;
        background-color:#1677d8; 
    }
    .sticky-top-user { top: 6em; }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<div class="col py-3">
    <div class="container" ng-init="consultarResume()">
        <div class=" row col-12">
        <div class="col-xxl-3 col-xl-3 col-lg-3 d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
            <div class="sticky-top sticky-top-user">
                <div class="card" style="width: auto;">
                    <div class="text-center mt-3" ng-click="updatePhoto()">
                        <img src="" class="card-img-top" id="viewProfileImg" alt="..." style="border-radius: 5%;width: 30%;">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-center" ng-bind="sesion.person.name +' '+sesion.person.surname+' '+sesion.person.secondSurname"></h5>
                      <p class="text-center" style="font-weight: 500;" ng-bind="sesion.person.dateOfBirth | date: 'dd/MM/yyyy'"></p>
                      <hr style="background-color: #000; color: #000;">
                      <div style="font-weight: 700;">Correo</div>
                      <div ng-bind="sesion.person.contactInformation.email"></div>
                      <div style="font-weight: 700;">Teléfono</div>
                      <div ng-bind="sesion.person.contactInformation.phoneNumber"></div>
                      <div style="font-weight: 700;">Estado</div>
                      <div ng-bind="sesion.person.contactInformation.state"></div>
                      <p style="font-style: italic; font-weight: 200; margin-bottom: 10px;" ng-bind="'Usuario @'+sesion.username"></p>
                    </div>
                  </div>
                    <div class="alert alert-primary alert-dismissible fade show mt-2" role="alert">
                        <strong style="font-size: 15px !important;">Nota</strong>
                        <hr style="height: 0px; padding: 0px; margin: 0px  0px 10px 0px; color: #fff; border-color: #fff;">
                        <p class="fw-light" style="text-align: justify; font-size: 14px !important;padding: 0px; margin-bottom: 2px;">Si has actualizado la información del CV, debes guardarla, para que tu CV generado contenga la información más actualizada.</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  <!-- <div class="alert alert-light mt-2" role="alert">
                        <strong style="font-size: 15px !important;">Nota</strong>
                        <hr style="height: 0px; padding: 0px; margin: 0px  0px 10px 0px; color: #fff; border-color: #fff;">
                        <p class="fw-light" style="text-align: justify; font-size: 14px !important;padding: 0px; margin-bottom: 2px;">Si has actualizado la información del CV, debes guardarla, para que tu CV generado contenga la información más actualizada.</p>
                  </div> -->
            </div>
        </div>
        <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12">
            <div class="row col-12">
                <div style="display: inline;" class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-6 col-xs-6 col-6">
                    <h1 class="display-6" style="display: inline;color: #395f85;">Curriculum Vitae</h1>
                </div>
                <div ng-show="isUpdating" style="display: inline;" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6 text-end">
                    <button class="btn btn-outline-dark" ng-click="generateResume()">Generar CV</button>
                </div>

                <hr>
            </div>
            <!-- <h6 class=" text-end mb-3">General</h6>
            <hr> -->
            <div class="row" ng-form="formResume">
                
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                    <label for="" class="mb-1 text-start" style="font-weight: 700;">Foto de perfil</label><br>
                    <div class="input-group mb-2">
                        <input type="file" class="form-control" id="profileImage" name="profileImage"  accept="image/*">
                    </div>
                    <img id="ProfileImagePreview" src="" height="250px" style="border-radius: 5px">
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                    <label for="" class="mb-1" style="font-weight: 700;">Curriculum Vitae en PDF</label>
                    <div class="input-group mb-2">
                        <input type="file" class="form-control" id="PDFResume" name="PDFResume" accept="application/pdf">
                    </div>
                    <iframe id="previewPDF" src="" width="100%" height="250px" style="border-radius: 5px"></iframe>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control mt-2" id="title" name="title" placeholder=" " ng-model="resume.title" maxlength="100" required>
                        <label for="names">Titulo<span class="text-danger"> * </span> </label>
                    </div>
                    <span style="color: red; margin-top: 0px;" ng-show="formResume.title.$error.required && formResume.title.$touched">
                        Este campo es obligatorio 
                     </span>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-floating">
                        <textarea class="form-control mt-2" id="description" name="description" placeholder=" " ng-model="resume.professionalDescription" style="height: 120px" maxlength="250" required></textarea>
                        <label for="description">Descripción profesional <span class="text-danger"> * </span> </label>
                    </div>
                    <span style="color: red; margin-top: 0px;" ng-show="formResume.description.$error.required && formResume.description.$touched">
                        Este campo es obligatorio 
                     </span>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                    <div class="text-end" style="display:inline; text-align: right;" >
                        <h6  style="display:inline;" >¿Cuentas con experiencia laboral?</h6>
                    </div>
                    <div style="display:inline; padding-left: 2%;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hasExperience" ng-model="resume.hasExperience" ng-value="true" id="inlineRadio1" ng-true-value="true" required>
                            <label class="form-check-label" for="inlineRadio1">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hasExperience" ng-model="resume.hasExperience" ng-value="false" id="inlineRadio2"  ng-false-value="false" required>
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                    <hr >
                    <span style="color: red; margin-top: 0px;" ng-show="formResume.hasExperience.$error.required && formResume.hasExperience.$touched">
                        Este campo es obligatorio 
                     </span>
                    <div ng-if="resume.hasExperience">
                        <div  class="form-floating">
                            <textarea type="Experiencia" class="form-control mt-2" id="expertise" name="expertise" placeholder=" " ng-model="resume.expertise" style="height: 120px" maxlength="250"></textarea>
                            <label for="expertise">Experiencia <span class="text-danger"> * </span> </label>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                    <h6 class=" text-start mb-4">Historial académico</h6>
                    <hr>
                    <div class="form-floating">
                        <textarea class="form-control mt-2" id="schoolPreparation" name="schoolPreparation" placeholder=" " ng-model="resume.school_preparation" style="height: 120px" maxlength="250" required></textarea>
                        <label for="schoolPreparation">Preparación escolar <span class="text-danger"> * </span> </label>
                    </div>
                    <span style="color: red; margin-top: 0px;" ng-show="formResume.schoolPreparation.$error.required && formResume.schoolPreparation.$touched">
                        Este campo es obligatorio 
                     </span>
                </div>
            
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-start mt-4">
                <h6>Habilidades</h6>
                <hr>
                <div class="text-start">
                    <form action="">
                        <div ng-form="formHability" class="row">
                            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10 col-10">
                                <div class="form-floating">
                                    <input type="text" class="form-control mt-2" id="hability" name="hability" placeholder=" " ng-change="statusInputHability()" ng-model="hability.name" required maxlength="50">
                                    <label for="names">Habilidad <span class="text-danger"> * </span> </label>
                                </div>
                                <span style="color: red; margin-top: 0px;" ng-show="listHabilities.length <= 1 ? (formHability.hability.$error.required && formHability.hability.$touched) : ''">
                                    Mínimo 2 habilidades
                                 </span>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 text-center mt-4 mb-3">
                                <button class="btn btn-outline-success" ng-click="addHability(hability)" > <i class="bi bi-plus-circle"></i> </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive" ng-show="showHabilities">
                    <table class="table align-middle">
                        <thead class="table-light">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Habilidad</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hability in listHabilities" class="text-center">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="hability.name"></td>
                                <td><button class="btn btn-outline-danger" ng-click="deleteHability(hability)"> <i class="bi bi-trash"></i> </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-start mt-4">
                <h6>Idiomas</h6>
                <hr>
                <div class="text-start">
                    <div class="row mb-2" ng-form="formLanguage">
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5">
                            <div class="form-floating">
                                <select class="form-select mt-2"  name="language" id="language" ng-model="language.name" required="true" ng-options="l for l in languages">
                                    <option value="">Idioma...</option>
                                </select>
                                <label for="name">Idioma <span class="text-danger"> * </span> </label>
                            </div>
                            <span style="color: red; margin-top: 0px;" ng-show="listLanguages.length < 1 ? (formLanguage.language.$error.required && formLanguage.language.$touched) : ''">
                                Mínimo 1 idioma
                             </span>
                             <span style="color: red; margin-top: 0px;" ng-show="alertLanguageValidation">
                                Idioma repetido
                             </span>
                        </div>
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5">
                            <div class="form-floating">
                                <select class="form-select mt-2"  name="level" id="level" ng-model="language.level" required="true" ng-options="l for l in languagesLevel">
                                    <option value="">Nivel...</option>
                                </select>
                                <label for="level">Nivel<span class="text-danger"> * </span> </label>
                            </div>
                            <span style="color: red; margin-top: 0px;" ng-show="listLanguages.length < 1 ? (formLanguage.level.$error.required && formLanguage.level.$touched) : ''">
                                Seleccione el nivel
                             </span>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 text-center mt-4 mb-3">
                            <button class="btn btn-outline-success" ng-click="addLanguage(language)" ><i class="bi bi-plus-circle"></i></button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive" ng-show="showLanguages">
                    <table class="table align-middle">
                        <thead class="table-light">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Idioma</th>
                                <th>Nivel</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="language in listLanguages" class="text-center">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="language.name"></td>
                                <td ng-bind="(language.level === undefined || language.level === null) ? 'Sin nivel' : language.level"></td>
                                <td><button class="btn btn-outline-danger" ng-click="deleteLanguage(language)"><i class="bi bi-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-start mt-4">
                <div ng-hide="isUpdating">
                    <div style="display:inline;">
                        <h6 style="display:inline;">¿Cuentas con certificaciones y/o cursos?</h6>
                    </div>
                    <div style="display:inline; padding-left: 2%;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-true-value="true" ng-click="hasCourses(true)">
                            <label class="form-check-label" for="inlineRadio1">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-false-value="false" ng-click="hasCourses(false)">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                </div>
                <div ng-show="isUpdating">
                    <div style="display:inline;">
                        <h6 style="display:inline;">Certificaciones y/o cursos</h6>
                    </div>
                </div>
                <hr>
                <div class="text-start" ng-show="showModuleCourses">
                    <form action="">
                    <div class="row mb-2" ng-form="formCourse">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-floating">
                                <input type="text" class="form-control mt-2" name="nameCourse" id="nameCourse" placeholder=" " ng-model="course.name"  required maxlength="50">
                                <label for="name">Nombre <span class="text-danger"> * </span> </label>
                            </div>
                            <span style="color: red; margin-top: 0px;" ng-show="formCourse.nameCourse.$error.required && formCourse.nameCourse.$touched">
                               Este campo es obligatorio 
                            </span>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-floating">
                                <input type="text" class="form-control mt-2" name="institute" id="institute" placeholder=" " ng-model="course.nameOfTheInstitudeThatIssuesIt" required maxlength="50">
                                <label for="institute">Instituto <span class="text-danger"> * </span> </label>
                            </div>
                            <span style="color: red; margin-top: 0px;" ng-show="formCourse.institute.$error.required && formCourse.institute.$touched">
                                Este campo es obligatorio 
                             </span>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-floating">
                                <select class="form-select mt-2"  name="type" id="type" ng-model="course.type"  required="true">
                                    <option value="" disabled>Seleccione...</option>
                                    <option value="false">Curso</option>
                                    <option value="true">Certificacion</option>
                                </select>
                                <label for="type">Tipo <span class="text-danger"> * </span> </label>
                            </div>
                            <span style="color: red; margin-top: 0px;" ng-show="formCourse.type.$error.required && formCourse.type.$touched">
                                Este campo es obligatorio 
                             </span>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-floating">
                                <input type="date" class="form-control mt-2" id="expedition" name="expedition" placeholder=" " ng-model="course.expeditionDate" required>
                                <label for="expedition">Expedición <span class="text-danger"> * </span> </label>
                            </div>
                            <span style="color: red; margin-top: 0px;" ng-show="formCourse.expedition.$error.required && formCourse.expedition.$touched">
                                Este campo es obligatorio 
                             </span>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-floating">
                                <input type="date" class="form-control mt-2" id="expiration" placeholder=" " ng-model="course.expirationDate">
                                <label for="expiration">Expiración</label>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="form-floating">
                                <input type="number" class="form-control mt-2" id="hours" placeholder=" " ng-model="course.hours">
                                <label for="hours">Horas</label>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center mt-4 mb-3">
                            <button class="btn btn-outline-success" ng-click="addCourse(course)" ><i class="bi bi-plus-circle"></i></button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="table-responsive" ng-show="showCourses">
                    <table class="table align-middle">
                        <thead class="table-light">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Instituto</th>
                                <th>Tipo</th>
                                <th>Horas</th>
                                <th>Expedición</th>
                                <th>Expiración</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="course in listCourses" class="text-center">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="course.name"></td>
                                <td ng-bind="course.nameOfTheInstitudeThatIssuesIt"></td>
                                <td ng-bind="course.type === true ? 'Certificación' : 'Curso'"></td>
                                <td ng-bind="(course.hours === undefined || course.hours === null) ? 'Sin no. de horas' : course.hours + 'hrs'"></td>
                                <td ng-bind="course.expeditionDate | date:'dd/MM/yyyy'"></td>
                                <td ng-bind="(course.expirationDate === undefined || course.expirationDate === null) ? 'No expira' : course.expirationDate | date:'dd/MM/yyyy'"></td>
                                <td><button class="btn btn-outline-danger" ng-click="deleteCourse(course)"><i class="bi bi-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            </div>


            <div class="justify-content-end text-end">
                <button type="button" ng-click="switch.toMyVacancies()" class="btn btn-outline-danger pt-2 pe-4 ps-4 pb-2">Cancelar</button>
                <button type="button" class="btn btn-outline-success pt-2 pe-4 ps-4 pb-2" ng-click="addResume()">Guardar CV</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Modal for resume -->
<div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Curriculum Vitae</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                <strong>Recuerda:</strong> <span class="fw-light" style="text-align: justify; font-size: 14px !important;">Si quieres generar tu CV con la información más actualizada, primero  debes guardarlo.</span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <iframe id="previewPDFApplication" src="" width="100%" height="450px" style="border-radius: 5px"></iframe>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
        </div>
    </div>
</div>