<div class="col py-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-5">Red social</h1>
                <hr>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 mt-3 sticky-top">
                <div class="mb-2">
                    <input class="form-control" type="search" placeholder="Buscar amigos">
                </div>
                <div class="card mb-2" style="width: 100%; height: auto;">
                    <div class="card-body">
                        <div class="row col-12">
                            <div class="col-8">
                                <h5 class="card-title">Luis Jimenez</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Desarrollador Full Stack</h6>
                            </div>
                            <div class="col-4 mt-2 text-end">
                                <a href="#" class="btn btn-success card-link">Añadir</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2" style="width: 100%; height: auto;">
                    <div class="card-body">
                        <div class="row col-12">
                            <div class="col-8">
                                <h5 class="card-title">Diego Velasco</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Desarrollador Front-End</h6>
                            </div>
                            <div class="col-4 mt-2 text-end">
                                <a href="#" class="btn btn-success card-link">Añadir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12 mt-3">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="row col-12">
                            <div class="col-10">
                                <h5 class="card-title">CDS-UTEZ</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Analista Programador</h6>
                            </div>
                            <div class="col-2 align-middle text-end">
                                <a href="#" class="btn btn-light card-link">❤</a>
                            </div>
                        </div>
                        <p class="card-text">El Centro de Desarrollo de Software de la UTEZ necesita de un analaista programador.</p>
                        <div class="row col-12">
                            <div class="col-6" style="vertical-align: middle;">
                                <h6>Publicado por: Diego Velasco</h6>
                            </div>
                            <div class="col-6 text-end">
                                <a href="#" class="btn btn-primary card-link" data-bs-toggle="modal" data-bs-target="#infoPostulation">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for info postulation -->
<div class="modal fade" id="infoPostulation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form action="">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <h5>Puesto:</h5>
                                <p> Analista Programador</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Estado disponible:</h5>
                                <p>Morelos</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Modalidad:</h5>
                                <p> Mixta</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Tipo:</h5>
                                <p>Tipo 1</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <h5>Fecha de postulacion:</h5>
                                <p> 23/06/2022</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <h5>Salario:</h5>
                                <p>$5,000 - $9,000</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Pago:</h5>
                                <p>Quincenal</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Fecha de validez:</h5>
                                <p>30/06/2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">¡Postularme!</button>
                </div>
            </form>
        </div>
    </div>
</div>