<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" ng-controller="navbarController" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SIPET</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" type="button" ng-click="switch.toLandingPage()" aria-current="page">Principal</a>
                </li>
                <li class="nav-item" ng-if="session !== undefined && session.role === 'employeer'" >
                    <a class="nav-link active" type="button" ng-click="switch.toVacancyRegistration()" aria-current="page">Consultar postulaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" ng-if="session !== undefined && session.role === 'employee'" aria-current="page" type="button" ng-click="switch.toMyVacancies()" >Mis aplicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" ng-if="session !== undefined && session.role === 'employee'" aria-current="page" type="button" ng-click="switch.toSocialMedia()" >Mis publicaciones</a>
                </li>

            </ul>
            <li ng-if="session !== undefined" class="nav-item btn-group dropstart">
                <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="./img/user.jpg" alt="hugenerd" width="20" height="20" class="rounded-circle">
                    <strong ng-bind="session.person.name"></strong>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="./cv.html">CV</a></li>
                <li><a class="dropdown-item" type="button" ng-click="switch.toProfile()" >Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a ng-click="closeSession()" class="dropdown-item" type="button" >Cerrar sesión</a></li>
                </ul>
            </li>
            <li ng-if="session === undefined" class="btn-group">
                <a ng-click="switch.toLogin()" class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="./img/user.jpg" alt="hugenerd" width="20" height="20" class="rounded-circle">
                    Iniciar sesion
                </a>
            </li>
        </div>
    </div>
</nav>