<div class="col py-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-5">Principal</h1>
                <hr>
            </div>
            <div class="col-12 justify-content-center text-center align-items-center">
                <p style="text-align: justify;">SIPET tiene la tarea de encontrar las mejores vacantes con base a tus necesidaes, ofeciendo los mejores puestos de trabajos en empresas reconocidas a nivel mundial.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi iusto obcaecati eum temporibus error aut delectus officiis unde cupiditate cumque, distinctio, amet repellat itaque exercitationem omnis veritatis. Reiciendis, dicta.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolorem sequi rem ratione porro minus alias nisi deleniti fuga ad, possimus suscipit culpa modi praesentium, magni laudantium id repellendus success!
                </p>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="row col-12">
                            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10 col-10">
                                <h5 class="card-title">CDS-UTEZ</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Analista Programador</h6>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 text-end">
                                <a href="#" class="btn btn-light">❤</a>
                            </div>
                        </div>
                        <p class="card-text">El Centro de Desarrollo de Software de la UTEZ necesita de un analaista programador.</p>
                        <a href="#" class="btn btn-success">Postularme</a>
                        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoPostulation">+ Info</a>
                        <a href="#" class="btn btn-light">🔗</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for info postulation -->
<div class="modal fade" id="infoPostulation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form action="">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <h5>Puesto:</h5>
                                <p> Analista Programador</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Estado disponible:</h5>
                                <p>Morelos</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Modalidad:</h5>
                                <p> Mixta</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Tipo:</h5>
                                <p>Tipo 1</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <h5>Fecha de postulacion:</h5>
                                <p> 23/06/2022</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <h5>Salario:</h5>
                                <p>$5,000 - $9,000</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Pago:</h5>
                                <p>Quincenal</p>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <h5>Fecha de validez:</h5>
                                <p>30/06/2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">¡Postularme!</button>
                </div>
            </form>
        </div>
    </div>
</div>