<div class="container" >


    <div class="container col-12" >
        <div ng-form="vacancyRegistration" class="row" >
    
            {{ vacancy}}

                <label class="form-label" >Titulo</label>
                <div class="col-4 input-group" >
                    <input
                        id="title"
                        name="title"
                        class="form-control"
                        ng-model="vacancy.title"
                        type="text"
                        required
                    >
                    <span 
                        style="color: red"
                        ng-show="vacancyRegistration.title.$error.required && vacancyRegistration.title.$touched || vacancyRegistration.title.$error.required && frontVariables.inValidVacancyForm"
                    >
                        Este campo es obligatorio
                    </span>
                </div>
                <label>Estado en el que esta disponible</label>
                <div class="col-4 input-group" >
                    <select 
                        id="state"
                        name="state"
                        class="form-control"
                        ng-model="vacancy.stateInWhichIsAvailable"
                        ng-options="state.estado as state.estado for state in states track by state.clave"
                        required
                    >
                        <option value="" selected >Seleccione...</option>
                    </select>
    
                    <span 
                        style="color: red"
                        ng-show="vacancyRegistration.title.$error.required && vacancyRegistration.title.$touched || vacancyRegistration.title.$error.required && frontVariables.inValidVacancyForm"
                    >
                        Este campo es obligatorio
                    </span>
                </div>
                <label>Modalidad</label>
                <div class="col-4 input-group" >
                    <select 
                        id="modality"
                        name="modality"
                        class="form-control"
                        ng-model="vacancy.modality" 
                        ng-options="modality as modality for modality in modalities track by modality"
                        required
                    >
                        <option value="" selected >Seleccione...</option>
                    </select>
                    <span 
                        style="color: red"
                        ng-show="vacancyRegistration.modality.$error.required && vacancyRegistration.modality.$touched || vacancyRegistration.modality.$error.required && frontVariables.inValidVacancyForm"
                    >
                        Este campo es obligatorio
                    </span>
                </div>
                <label>Tipo</label>
                <div class="col-4 input-group" >
                    <select 
                        id="type"
                        name="type"
                        class="form-control"
                        ng-model="vacancy.type" 
                        ng-options="type as type for type in types track by type"
                        required
                    >
                        <option value="" selected >Seleccione...</option>
                    </select>
                    <span 
                        style="color: red"
                        ng-show="vacancyRegistration.type.$error.required && vacancyRegistration.type.$touched || vacancyRegistration.type.$error.required && frontVariables.inValidVacancyForm"
                    >
                        Este campo es obligatorio
                    </span>
                </div>
                <label>Fecha de inicio</label>
                <div class="col-4 input-group" >
                    <input
                        id="startDate"
                        name="startDate"
                        class="form-control"
                        ng-model="vacancy.startDate"
                        type="date"
                        required
                    >
                    <span 
                        style="color: red"
                        ng-show="vacancyRegistration.startDate.$error.required && vacancyRegistration.startDate.$touched || vacancyRegistration.title.$error.required && frontVariables.inValidVacancyForm"
                    >
                        Este campo es obligatorio
                    </span>
                </div>
                <label>Fecha de validez</label>
                <div class="col-4" >
                    <input
                        id="validityDate"
                        name="validityDate"
                        class="form-control"
                        ng-model="vacancy.validityDate"
                        type="date"
                    >
                    <span 
                        style="color: red"
                        ng-show="vacancyRegistration.validityDate.$error.required && vacancyRegistration.validityDate.$touched || vacancyRegistration.validityDate.$error.required && frontVariables.inValidVacancyForm"
                    >
                        Este campo es obligatorio
                    </span>
                </div>
                <label>Salaria mínimo</label>
                <div class="col-4" >
                    <input
                        id="minimumSalary"
                        name="minimumSalary"
                        class="form-control"
                        ng-model="vacancy.minimumSalary"
                        type="number"
                        required
                    >
                    <span 
                        style="color: red"
                        ng-show="vacancyRegistration.minimumSalary.$error.required && vacancyRegistration.minimumSalary.$touched || vacancyRegistration.minimumSalary.$error.required && frontVariables.inValidVacancyForm"
                    >
                        Este campo es obligatorio
                    </span>
                </div>
    
                <label>Salario maximo</label>
                <div class="col-4" >
                    <input
                        id="maximumSalary"
                        name="maximumSalary"
                        class="form-control"
                        ng-model="vacancy.maximumSalary"
                        type="number"
                        required
                    >
                    <span 
                        style="color: red"
                        ng-show="vacancyRegistration.maximumSalary.$error.required && vacancyRegistration.maximumSalary.$touched || vacancyRegistration.maximumSalary.$error.required && frontVariables.inValidVacancyForm"
                    >
                        Este campo es obligatorio
                    </span>
                </div>
    
                <label>Frecuencia de pago</label>
                <div class="col-4" >
                    <select 
                        id="paymentFrecuency"
                        name="paymentFrecuency"
                        class="form-control"
                        ng-model="vacancy.paymentFrecuency"
                        ng-options="paymentFrecuency as paymentFrecuency for paymentFrecuency in paymentFrecuencies track by paymentFrecuency"
                        required
                    >
                        <option value="" selected >Seleccione...</option>
                    </select>
                    <span 
                        style="color: red"
                        ng-show="vacancyRegistration.paymentFrecuency.$error.required && vacancyRegistration.paymentFrecuency.$touched || vacancyRegistration.paymentFrecuency.$error.required && frontVariables.inValidVacancyForm"
                    >
                        Este campo es obligatorio
                    </span>
                </div>
                
                <h3>Beneficios del trabajo</h3>
                <label>Nombre del beneficio</label>
                <div class="col-4">
                    <select 
                        id="benefitsToSelect"
                        name="benefitsToSelect"
                        class="form-control"
                        multiple
                    
                    >
                        <option ng-click="addOrRemoveBenefit(option)" ng-repeat="option in benefits" ng-bind="option" ></option>

                    </select>
                </div>

                {{ benefitsToSave }}
                

                <label>Beneficios con los que cuenta</label>
                <div class="col-4">
                    <select 
                        id="benefitsToSelect"
                        name="benefitsToSelect"
                        ng-model="selected"
                        class="form-control"
                        ng-options="benefit as benefit for benefit in benefitsToSave track by benefits"
                        multiple
                    >
                        <option value="" selected >Seleccione...</option>
                    </select>
    
                </div>
    
    
                <div class="col-6" >
                    <input type="button" value="enviar datos" ng-click="registerVacancy()" >
                </div>
    
        </div>
    </div>
    
    
    
</div>
