<div class="row pe-4 ps-4 col-12">
    <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h1>Vacantes registradas</h1>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 text-end mt-3">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#registerPostulation">
            Nueva vacante
        </button>
    </div>
</div>
<hr>
<div class="col py-3 p-4">
    <table class="table table-stiped table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Estado</th>
                <th>Modalidad</th>
                <th>Tipo</th>
                <th>Caducidad</th>
                <th>Salario</th>
                <th>Frecuencia de pago</th>
                <th>Fecha de validez</th>
                <th colspan="2" class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Desarrollador Full Stack</td>
                <td>Activo</td>
                <td>Presencial</td>
                <td>Tipo</td>
                <td>01/05/2022 - 12/08/22</td>
                <td>$5,000 - $9,000</td>
                <td>Mensual</td>
                <td>01/05/2022</td>
                <td> <button class="btn btn-warning" style="color: white;" data-bs-toggle="modal" data-bs-target="#updatePostulation">Editar</button></td>
                <td> <button class="btn btn-danger">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal for register new postulation -->
<div class="modal fade" id="registerPostulation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form action="">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registrar vacante</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Titulo</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select mt-2" aria-label="Default select example">
                                        <option selected disabled>Seleccione...</option>
                                        <option value="1">Morelos</option>
                                        <option value="2">CDMX</option>
                                        <option value="3">Queretaro</option>
                                    </select>
                                    <label for="state">Estado</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select mt-2" aria-label="Default select example">
                                        <option selected disabled>Seleccione...</option>
                                        <option value="1">Presencial</option>
                                        <option value="2">Home office</option>
                                        <option value="3">Mixta</option>
                                    </select>
                                    <label for="modality">Modalidad</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select mt-2" aria-label="Default select example">
                                        <option selected disabled>Seleccione...</option>
                                        <option value="1">Tipo 1</option>
                                        <option value="2">Tipo 2</option>
                                        <option value="3">Tipo 3</option>
                                    </select>
                                    <label for="modality">Tipo</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Fecha incio</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Salario mínimo</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Salario máximo</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select mt-2" aria-label="Default select example">
                                        <option selected disabled>Seleccione...</option>
                                        <option value="1">Semanal</option>
                                        <option value="2">Quincenal</option>
                                        <option value="3">Mensual</option>
                                        <option value="4">Anual</option>
                                    </select>
                                    <label for="modality">Frecuencia de pago</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Fecha de validez</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>



   <!-- Modal for update postulation -->
<div class="modal fade" id="updatePostulation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form action="">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Actualizar vacante</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Titulo</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select mt-2" aria-label="Default select example">
                                        <option selected disabled>Seleccione...</option>
                                        <option value="1">Morelos</option>
                                        <option value="2">CDMX</option>
                                        <option value="3">Queretaro</option>
                                    </select>
                                    <label for="state">Estado</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select mt-2" aria-label="Default select example">
                                        <option selected disabled>Seleccione...</option>
                                        <option value="1">Presencial</option>
                                        <option value="2">Home office</option>
                                        <option value="3">Mixta</option>
                                    </select>
                                    <label for="modality">Modalidad</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select mt-2" aria-label="Default select example">
                                        <option selected disabled>Seleccione...</option>
                                        <option value="1">Tipo 1</option>
                                        <option value="2">Tipo 2</option>
                                        <option value="3">Tipo 3</option>
                                    </select>
                                    <label for="modality">Tipo</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Fecha incio</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Salario mínimo</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Salario máximo</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select mt-2" aria-label="Default select example">
                                        <option selected disabled>Seleccione...</option>
                                        <option value="1">Semanal</option>
                                        <option value="2">Quincenal</option>
                                        <option value="3">Mensual</option>
                                        <option value="4">Anual</option>
                                    </select>
                                    <label for="modality">Frecuencia de pago</label>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control mt-2"placeholder=" ">
                                    <label for="names">Fecha de validez</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>