<div class="col py-3" ng-init="loadData()">
    <div class="container">
        <div class="col-12">
            <h1 class="display-6">Perfil...</h1>
        </div>
        <div class="justify-content-end text-end">
            <button class="btn btn-primary pt-2 pe-4 ps-4 pb-2 mb-3" ng-click="enableForm()" ng-show="!flagEnable">Editar</a>
        </div>
        <div class="card">
            <div class="card-header text-center">
              <h5>Editar Información</h5>
            </div>
            <div class="card-body">
                <div class="row" ng-form="editUser">
                    <div class="col-12">
                        <h5>Información personal</h5>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-floating mb-3">
                            <input type="text" ng-disabled="!flagEnable" class="form-control mt-2" id="name" name="name" placeholder=" " ng-model="person.name" required>
                            <label for="name">Nombre(s)</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.name.$error.required && editUser.name.$touched || editUser.name.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="text" ng-disabled="!flagEnable" class="form-control mt-2" id="surname" name="surname" placeholder=" " ng-model="person.surname" required>
                            <label for="firstName">Primer apellido</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.surname.$error.required && editUser.surname.$touched || editUser.surname.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="text" ng-disabled="!flagEnable" class="form-control mt-2" id="secondSurname" name="secondSurname" placeholder=" " ng-model="person.secondSurname" required>
                            <label for="firstName">Segundo apellido</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.secondSurname.$error.required && editUser.secondSurname.$touched || editUser.secondSurname.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-floating mb-3">
                            <input type="email" ng-disabled="!flagEnable" class="form-control mt-2" id="email" name="email" placeholder=" " ng-model="contactInformation.email" required>
                            <label for="email">Correo</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.email.$error.required && editUser.email.$touched || editUser.email.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="tel" ng-disabled="!flagEnable" class="form-control mt-2" id="username" name="username" placeholder=" " ng-model="user.username" required>
                            <label for="extra">Usuario</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.username.$error.required && editUser.username.$touched || editUser.username.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="tel" ng-disabled="!flagEnable" class="form-control mt-2" id="phoneNumber" name="phoneNumber" placeholder=" " ng-model="contactInformation.phoneNumber" required>
                            <label for="phoneNumber">Telefono</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.phoneNumber.$error.required && editUser.phoneNumber.$touched || editUser.phoneNumber.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <input type="date" ng-disabled="!flagEnable" ng-model="person.dateOfBirth" class="form-control mt-2" id="dateBirth" name="dateBirth" placeholder=" " value="{{person.dateOfBirth}}" required>
                            <label for="dateBirth">Fecha de nacimiento</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.dateBirth.$error.required && editUser.dateBirth.$touched || editUser.dateBirth.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-floating mb-3"> 
                            <select
                                    id="state"
                                    ng-disabled="!flagEnable"
                                    name="state"
                                    class="form-control mt-2"
                                    ng-model="contactState"
                                    ng-options="state as state.state for state in states2 track by state.state"
                                    required 
                                    class="form-select mt-2" 
                                    aria-label="Default select example">
                                <option selected disabled>Seleccione...</option>
                            </select>
                            <label for="state">Estado</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.state.$error.required && editUser.state.$touched || editUser.state.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="row" ng-if="isEmployeer">
                        <hr>
                        <div class="col-12">
                            <h5>Información Empresarial</h5>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-floating mb-3">
                                <input type="text" ng-disabled="!flagEnable" class="form-control mt-2" id="companyName" name="companyName" placeholder=" " ng-model="employeer.companyName" required>
                            <label for="extra3">Nombre de Empresa</label>
                            </div>
                            <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.companyName.$error.required && editUser.companyName.$touched || editUser.companyName.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-122">
                            <div class="form-floating mb-3">
                                <input type="text" ng-disabled="!flagEnable" class="form-control mt-2" id="rolInCompany" name="rolInCompany" placeholder=" " ng-model="employeer.rol_in_company" required>
                            <label for="extra3">Cargo en la empresa</label>
                            </div>
                            <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.rolInCompany.$error.required && editUser.rolInCompany.$touched || editUser.rolInCompany.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-floating mb-3">
                                <select
                                        id="stateCompany"
                                        ng-disabled="!flagEnable"
                                        name="stateCompany"
                                        class="form-control mt-2"
                                        ng-model="employeerState"
                                        ng-options="state as state.state for state in states2 track by state.state"
                                        required 
                                        ng-change="copyStateCompany()"
                                        class="form-select mt-2" 
                                        aria-label="Default select example">
                                    <option selected disabled>Seleccione...</option>
                                </select>
                                <label for="stateCompany">Estado</label>
                            </div>
                            <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="editUser.stateCompany.$error.required && editUser.stateCompany.$touched || editUser.stateCompany.$error.required && frontVariables.invalidForm"
                            >
                            Este campo es obligatorio
                        </span>
                        <div class="form-floating mb-3">
                            <input
                                id="password"
                                name="password"
                                class="form-control mt-2"
                                ng-change="validPassword()"
                                placeholder=" "
                                ng-model="user.password"
                                type="password"
                                hidden
                            >
                        </div>
                        </div>
                    </div>
                    <div class="justify-content-end text-end" ng-if="flagEnable">
                        <button class="btn btn-danger pt-2 pe-4 ps-4 pb-2" ng-click="disableForm()">Cancelar</button>
                        <button 
                        type="button" 
                        ng-click="updateInformation()" 
                        ng-if="editUser.$valid && frontVariables.isValidTheConfirmationPassword"
                        class="btn btn-warning pt-2 pe-4 ps-4 pb-2"
                    >
                        Guardar
                    </button>
                    <button 
                        type="button" 
                        ng-click="showAlert()" 
                        ng-if="editUser.$invalid || !frontVariables.isValidTheConfirmationPassword "
                        class="btn btn-warning pt-2 pe-4 ps-4 pb-2"
                    >
                        Guardar
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3" ng-if="flagEnable">
            <div class="card-header text-center">
              <h5>Cambiar contraseña</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-floating mb-3">
                            <input
                                id="oldPassword"
                                name="oldPassword"
                                class="form-control mt-2"
                                ng-change="enableChangePasswordButton()"
                                placeholder=" "
                                ng-model="userForChangePassword.oldPassword"
                                type="password"
                                required
                            >
                            <label for="password">Contraseña actual</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="userRegistration.password.$error.required && userRegistration.password.$touched || userRegistration.password.$error.required && frontVariables.invalidForm"
                        >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-floating mb-3">
                            <input
                                id="password"
                                name="password"
                                class="form-control mt-2"
                                ng-change="enableChangePasswordButton()"
                                placeholder=" "
                                ng-model="userForChangePassword.password"
                                type="password"
                                required
                            >
                            <label for="password">Nueva contraseña</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="userRegistration.password.$error.required && userRegistration.password.$touched || userRegistration.password.$error.required && frontVariables.invalidForm"
                        >
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="form-floating mb-3">
                            <input
                                id="passwordConfirmation"
                                name="passwordConfirmation"
                                class="form-control mt-2"
                                ng-change="enableChangePasswordButton()"
                                placeholder=" "
                                ng-model="userForChangePassword.passwordConfirmation"
                                type="password"
                                required
                            >
                            <label for="passwordConfirmation">Confirmar nueva contraseña</label>
                        </div>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="userRegistration.passwordConfirmation.$error.required && userRegistration.passwordConfirmation.$touched || userRegistration.passwordConfirmation.$error.required && frontVariables.invalidForm"
                        >
                            Este campo es obligatorio
                        </span>
                        <span 
                            style="color: red; margin-top: 0px;"
                            ng-show="!frontVariables.isValidTheConfirmationPassword && userRegistration.passwordConfirmation.$touched"
                        >
                            La contraseña no coincide
                        </span>
                    </div>
                </div>
                <div class="justify-content-end text-end">
                    <input type="button" class="btn btn-warning pt-2 pe-4 ps-4 pb-2" ng-disabled="!enableChangePassword" ng-click="sendDataChangePassword()" style="color: white;" value="Cambiar">
                </div>
            </div>
          </div>
    </div>
</div>